.Tables th {
    padding: 20px;
    text-align: center;
    background-color: rgb(252, 230, 203);
    border: 1px solid;

}

.Tables tr {
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
}

.Tables td {
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
}

tbody tr:nth-child(even)(odd) {
    background-color: lightgray;
}

.Tables tr:hover {
    background-color: rgb(230, 229, 229);
    cursor: pointer;
}

.Tables {
    border-collapse: collapse;
    width: 100%;
    margin: 50px ;
    margin-top: 50px;
}